<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>davidblatcher.co.uk
    </header>

    <main>
      <h1>About this site</h2>
      <p>This is my website.</p>
      <p><a href="/">back to homepage</a></p>
    </main>

  </body>
</html>
