<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="homepage-header">
      <h1>
        davidblatcher<span>.co.uk</span>
      </h1>
      <p>Welcome to <%= title %></p>
    </header>

    <section class="homepage-section">
      <h2>Fun stuff</h2>
      <p><a href="/defender-game">defender</a></p>
    </section>
    <section class="homepage-section">
      <h2>other stuff</h2>
      <p><a href="/about">about this site</a></p>
    </section>
  </body>
</html>
